<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OptionsTradeWell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OptionsTradeWell.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>OTWserver</value>
            </setting>
            <setting name="FuturesTableName" serializeAs="String">
                <value>FUTURES_DESK</value>
            </setting>
            <setting name="OptionsTableName" serializeAs="String">
                <value>OPTIONS_DESK</value>
            </setting>
            <setting name="UniqueIndexInDdeDataArray" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NumberOfTrackingOptions" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="DaysInYear" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="RoundTo" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxValueOfImplVol" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MinActualStrikeUpdateTimeSec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ChartsMinYValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ChartsMaxYValue" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ChartsStepYValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Test" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OptDeskStrikesNumber" serializeAs="String">
                <value>26</value>
            </setting>
        </OptionsTradeWell.Properties.Settings>
    </userSettings>
</configuration>