<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OptionsTradeWell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <OptionsTradeWell.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>OTW</value>
            </setting>
            <setting name="FuturesTableName" serializeAs="String">
                <value>FUT</value>
            </setting>
            <setting name="OptionsTableName" serializeAs="String">
                <value>OPT</value>
            </setting>
            <setting name="UniqueIndexInDdeDataArray" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NumberOfTrackingOptions" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="DaysInYear" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="RoundTo" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxValueOfImplVol" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ChartsMinYValue" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="ChartsMaxYValue" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="ChartsStepYValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxOptionStrikeInQuikDesk" serializeAs="String">
                <value>70000</value>
            </setting>
            <setting name="StrikeStep" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="PositionTableName" serializeAs="String">
                <value>POS</value>
            </setting>
            <setting name="Account" serializeAs="String">
                <value>SPBFUT26WILL</value>
            </setting>
            <setting name="checkBoxMaxFutQ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxDeltaStep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxPriceLevels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBosClosePos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxPriceCon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxPnLCon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxMaxFutQValue" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxDeltaStepValue" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxPriceLevelsValue" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBosCloseWhatPosWillBeCloseValue" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBosCloseTrackingInstrValue" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxPricePriceConSignValue" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxPricePriceConValue" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxPnLValue" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToQuik" serializeAs="String">
                <value />
            </setting>
            <setting name="SimulFixedPnL" serializeAs="String">
                <value>0</value>
            </setting>
        </OptionsTradeWell.Properties.Settings>
    </userSettings>
</configuration>
